//custom themeing
$primary: rgb(213, 132, 46);
$card-border-color: rgba(0,0,0,0);
$display4-size: 2.5rem;
$display4-weight: 200;
$input-btn-focus-width: .4rem;
$font-weight-normal: 250;


//import bootstrap with defaults
@import "../node_modules/bootstrap/scss/bootstrap.scss";

